.info, .td_title_bg{background:url(../images/sprites_rili.gif);}

.font_ff0000{color:#ff0000;}
.top_bt{height:132px; width:978px; line-height:132px; font-size:50px; font-weight:bold; background-image:url(../images/rili_bg.jpg);  text-align:center; padding-top:11px; padding-left:10px;}
.rili_width{width:978px;}
.info{width:978px; background-color:#004478; background-position:0 -22px; background-repeat:repeat-x; height:auto; text-align:center; padding-bottom:20px;}
.tablebg{background:#fff; width:940px; margin:0 auto;}
.tablebg td{border-top:1px solid #b3cedc; border-left:1px solid #b3cedc; height:135px;}
.tablebg .td_title_bg{height:22px; line-height:22px; background-position:0 0; background-repeat:repeat-x; font-weight:bold;}
.tablebg .end_td{border-right:1px solid #b3cedc;}
.tablebg .end_row_td{border-bottom:1px solid #b3cedc;}

.info_k{width:auto; height:auto;}
.info_k .riqi{height:20px; line-height:20px; background-color:#e9f0f8; text-align:right; padding-right:10px;}
.info_k .neirong{height:115px;}
	.info_k .neirong .k{width:113px; height:auto; padding:10px;}
	.info_k .neirong .k img{float:left;width:46px;height:64px;border:0px;}
	.info_k .neirong .k .xinxi{float:left; width:62px; padding-left:5px;}
.info_k .current{background-color:#fbfdcc;}
.info_k .gray{background-color:#eee;}
